@import '../../style/defaults.scss';

.intro {
    background-image: url('../../assets/img/intro2.jpg');
    background-size: cover;
    height: 50vh;
    position: relative;

    h1 {
        color: $color-white;
        padding-top: 10vh;
        font-size: 3em;
        text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    p {
        color: $color-white;
    }
}

.projects {
    display: grid;
    @media screen and (min-width: $screen_tablet) {
        grid-template-columns: auto auto auto;
    }
}
