@import '../../style/defaults.scss';

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: 32px;
    .header {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        text-align: center;

        @media screen and (min-width: $screen-tablet) {
            grid-template-columns: 200px auto;
            max-width: 1080px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    a {
        color: $color-white;
        &:hover {
            color: $color-light;
        }
    }
    h1 {
        @media screen and (min-width: $screen-tablet) {
            text-align: left;
        }
    }

    nav {
        display: grid;
        grid-template-columns: auto;
        row-gap: 2px;

        @media screen and (min-width: $screen_tablet) {
            margin-left: auto;
            width: 240px;
            grid-template-columns: auto auto;
        }
        a {
            padding: 6px;
            color: $color-white;
            &:hover {
                background-color: $background-light;
                color: $color-light;
            }
        }
    }
}
